{{ if (gt .TotalPages 1) }}

<nav class="theme-pagination is-large has-text-centered" role="navigation" aria-label="pagination">
    {{ if (eq .HasPrev true) }}
    <a href="{{ .Prev.URL }}" class="mr-4"><span class="icon is-large"><i class="fas fa-arrow-circle-left fa-3x"></i></span></a>
    {{ else }}
    <span class="icon is-large has-text-light mr-4"><i class="fas fa-arrow-circle-left fa-3x"></i></span>
    {{ end }}
    {{ if (eq .HasNext true) }}
    <a href="{{ .Next.URL }}" class="ml-4"><span class="icon"><i class="fas fa-arrow-circle-right fa-3x"></i></span></a>
    {{ else }}
    <span class="icon ml-4 has-text-light"><i class="fas fa-arrow-circle-right fa-3x"></i></span>
    {{ end }}
</nav>

{{ end }}